<div class="col-md-6 offset-md-3">
<div class="card text-center">
    <div class="card-header">Employee Details</div>
    <div class="card-body">
      <div>
        <div>
            <label> <b> First Name: </b></label> {{employee.firstName}}
        </div>
        <div>
            <label> <b> Last Name: </b></label> {{employee.lastName}}
        </div>
        <div>
            <label> <b> Email Id: </b></label> {{employee.emailId}}
        </div>
        <div>
            <label> <b> Manager Name: </b></label> {{employee.managerName}}
        </div>
    </div>
      <a href="#" class="btn btn-primary">Back</a>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>